<div class="well">
    <div class="form-inline">
        <%= form_tag(search_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search_name, params[:search_name], placeholder: "Search Names", :class => "form-control" %>
            <%= submit_tag "Go", :name => nil, :class => "btn btn-primary" %>
        <% end %>
    </div>
    <hr>
    
    <div class="form-inline">
    <%= form_tag(search_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search_location, params[:search_location], placeholder: "Search Locations", :class => "form-control" %>
        <%= submit_tag "Go", :name => nil, :class => "btn btn-primary" %>
    <% end %>
    </div>
    <hr>
    
    <div class="form-inline">
    <%= form_tag(search_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search_school_work, params[:search_school_work], placeholder: "Search School/Work", :class => "form-control" %>
        <%= submit_tag "Go", :name => nil, :class => "btn btn-primary" %>
    <% end %>
    </div>
    <hr>
    
    <div class="form-inline">
    <%= form_tag(search_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search_interests, params[:search_interests], placeholder: "Search Interests", :class => "form-control" %>
        <%= submit_tag "Go", :name => nil, :class => "btn btn-primary" %>
    <% end %>
    </div>
    <hr>
</div>
        