<div class="well">
    <h4>Search people by a category:</h4>
    <hr>
    <div class="form-inline">
        <%= form_tag(search_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search_name, params[:search_name], placeholder: "Search by name", :class => "form-control search_form" %>
            <%= submit_tag "Go", :name => nil, :class => "btn btn-primary" %>
        <% end %>
    </div>
    <hr>
    
    <div class="form-inline">
    <%= form_tag(search_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search_location, params[:search_location], placeholder: "Search by location", :class => "form-control search_form" %>
        <%= submit_tag "Go", :name => nil, :class => "btn btn-primary" %>
    <% end %>
    </div>
    <hr>
    
    <div class="form-inline">
    <%= form_tag(search_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search_school_work, params[:search_school_work], placeholder: "Search by school/work", :class => "form-control search_form" %>
        <%= submit_tag "Go", :name => nil, :class => "btn btn-primary" %>
    <% end %>
    </div>
    <hr>
    
    <div class="form-inline">
    <%= form_tag(search_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search_interests, params[:search_interests], placeholder: "Search by interests", :class => "form-control search_form" %>
        <%= submit_tag "Go", :name => nil, :class => "btn btn-primary" %>
    <% end %>
    </div>

</div>
        