<div class="row">
  <!--Search form-->
  <div class="col-lg-4" style="text-align:center;">
    <%= render 'search_people/form' %>
  </div>
  <!--Results-->
  <div id="newsfeed" class="col-lg-8">
    <h1>Users:</h1>
      <% @users.each do |user| %>
        <%if user!=current_user %>
          <div id="user-<%= user.id %>" class="row well">
            <!--Avatar-->
            <div class="text-center col-sm-3">
              <div class="text-center">
                <%= render 'shared/avatar_big', user: user %><br>
              </div>
            </div>
            <!--Info-->
            <div class="text-left col-sm-4" style="margin-left:20px;">
              <span class="search_name"><%= render 'follows/form', user: user %></span>
              <% if user.dob.present? %>
                <h5 class="text-left">
                  <%= fa_icon user.sex %>
                  <%= "#{pluralize(age(user.dob), 'year')} old" %>
                </h5>
              <% end %>
              <% if user.location.present? %>
                <h5 class="text-left">
                  <%= fa_icon 'map-marker' %>
                  <%= user.location %>
                </h5>
              <% end %>
              <% if user.school_or_work.present? %>
                <h5 class="text-left">
                  <%= fa_icon 'briefcase' %>
                  <%= user.school_or_work %>
                </h5 class="text-left">
              <% end %>
              <button class="btn btn-default"><%= link_to "View More", user %></button>
            </div>
            <!--Friend button-->
            <div class="col-sm-2 col-sm-offset-2">
              <%= render 'friends/form', user: user %>
            </div>
        </div>
        <% end %>
    <% end %>
    <% if @users.blank? %>
      <h4>There are no users that matched your criterion.</h4>
    <% end %>
  </div>
</div>