<br>
<div id="user-<%= user.id %>" class="row">
  <div class="col-sm-5">
    <%= render 'shared/avatar', user: user %>
    <h5 class="name"><%= link_to user.name, user %></h5>
  </div>
  <div class="col-sm-3 col-sm-offset-2">
    <div class="follow">
      <%= render 'friends/form', user: user %>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="follow">
      <%= render 'follows/form', user: user %>
    </div>
  </div>
</div>
<br>