<div id="user-<%= @user.id %>" class="row">
  
  <!--User info-->
  <div class="col-lg-4">
    <%= render 'shared/user_info' %>
  </div>
  
  <div class="col-lg-6">
    <div id="activities">
      <h2>Recent Activity</h2>
      <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <%= render 'shared/paginate', resources: @activities %>
  </div>
  
</div>