<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Teal", root_url, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li style="text-transform: capitalize;"><%= link_to(current_user.name, user_path(current_user)) %></li>
          <li><%= link_to('Sign out', destroy_user_session_path, method: :delete) %></li>
          
          <li class="nav-item btn-group" data-behavior="notifications" data-notifications='<%= render template: "notifications/index", formats: [:json] %>'>
          <a class="dropdown-toggle nav-link" type="button" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon "bell" %> <span data-behavior="unread-count"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" data-behavior="notification-items">
          </div>
          </li>
        
        <% else %>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Login', user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>