<div id="user-info" class="well">
  
  
  <div class="row">
    <div class="text-center">
      <%= render 'shared/avatar_big', user: @user %><br>
    </div>
    <% if is_current_user?(@user) %>
      <div class="dropdown" style="text-align: right; margin-right:7px;">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-user-info">
          <%= render 'shared/links' %>
        </div>
      </div>
    <% else %>
      <div style="text-align:center; margin-right:3px 3px;">
        <h4 style="color:#20B2AA; text-transform: capitalize;"><%= @user.name %></h4>
      </div>
    <% end %>
  </div>
  
  <div class="row">
      <h5 class="text-center">
        <%= fa_icon 'shield' %>
        <%= pluralize(@user.posts_count, 'post') %>
      </h5>
      <% if @user.dob.present? %>
        <h5 class="text-center">
          <%= fa_icon @user.sex %>
          <%= "#{pluralize(age(@user.dob), 'year')} old" %>
        </h5>
      <% end %>
      <% if @user.location.present? %>
        <h5 class="text-center">
          <%= fa_icon 'map-marker' %>
          <%= @user.location %>
        </h5>
      <% end %>
      <% if @user.school_or_work.present? %>
        <h5 class="text-center">
          <%= fa_icon 'briefcase' %>
          <%= @user.school_or_work %>
        </h5 class="text-left">
      <% end %>
      <% if @user.interests.present? %>
        <h5 class="text-center">
          <%= fa_icon 'thumbs-o-up' %>
          <%= @user.interests %>
        </h5>
      <% end %>
  </div>
  
  <br>
  
  <div class="text-center">
    <% unless is_current_user?(@user) %>
      <%= render 'friends/form', user: @user %>
      <h6><%= 'Follows you' if current_user.followed_by?(@user) %></h6>
    <% end %>
    <% if is_current_user?(@user) %>
     <h5>
       <span style="margin-right: 3px;">
         <%= fa_icon 'address-book' %>
         <%= link_to 'Friends', friends_user_path(current_user) %> 
       </span>
       |
       <span style="margin:2px 3px;">
         <%= fa_icon 'user-plus' %>
         <%= link_to 'Followers', followers_user_path(current_user) %>
       </span>
       |
       <span style="margin-left: 3px;">
         <%= fa_icon 'users' %>
         <%= link_to 'Following', following_user_path(current_user) %>
        </span>
     </h5> 
    <% else %>
      <h5>
       <span style="margin-right: 3px;">
         <%= fa_icon 'address-book' %>
         <%= link_to 'Friends', friends_user_path(@user) %> 
       </span>
       |
       <span style="margin:2px 3px;">
         <%= fa_icon 'user-plus' %>
         <%= link_to 'Followers', followers_user_path(@user) %>
       </span>
       |
       <span style="margin-left: 3px;">
         <%= fa_icon 'users' %>
         <%= link_to 'Following', following_user_path(@user) %>
        </span>
     </h5> 
    <% end %>
  </div>
  
</div>